<div class="container">
  <app-sidebar
    (emitSComb)="addComb($event)"
    (emitMinValue)="addMinValue($event)"
    (emitMaxValue)="addMaxValue($event)"
    (emitMunSelected)="addMunSelected($event)"
    (emitProvSelected)="addProvSelected($event)"
  ></app-sidebar>
  <app-gas-list
    [selectedComb]="selectedComb"
    [valuemin]="valuemin"
    [valuemax]="valuemax"
    [munSelected]="munSelected"
    [provSelected]="provSelected"
    (emitFilteredGL)="addFilteredGL($event)"
  ></app-gas-list>

  <div class="gmaps">
    <google-map height="100%" width="100%" [center]="center" [zoom]="zoom">
      <map-marker
        #markerElem="mapMarker"
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="openInfoWindow(markerElem, marker.info)"
      >
      </map-marker>
      <map-info-window [innerHTML]="infoContent">{{this.infoContent}}</map-info-window>
    </google-map>
  </div>
</div>
