<div class="container">
  <app-sidebar
    (emitSComb)="addComb($event)"
    (emitMinValue)="addMinValue($event)"
    (emitMaxValue)="addMaxValue($event)"
    (emitMunSelected)="addMunSelected($event)"
    (emitProvSelected)="addProvSelected($event)"
  ></app-sidebar>
  <app-gas-list
    [selectedComb]="selectedComb"
    [valuemin]="valuemin"
    [valuemax]="valuemax"
    [munSelected]="munSelected"
    [provSelected]="provSelected"
    (emitFilteredGL)="addFilteredGL($event)"
  ></app-gas-list>
  <google-map height="800px" [center]="center" [zoom]="zoom">
    <map-marker *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"> </map-marker>
  </google-map>
</div>
