<div class="container">
    <div class="card" *ngFor="let gas of filteredGasList">
        <h2>
          {{ this.gas["Rótulo"] }}
        </h2>
        <div>
          <p>
            <b>Localidad: </b>{{ this.formatString(this.gas["Localidad"]) }},
            {{ this.formatString(this.gas["Provincia"]) }}
          </p>
          <p><b>Dirección: </b>{{ this.formatString(this.gas["Dirección"]) }}</p>
        </div>
        <hr>
        <div>
          <h3>Precio Combustible:</h3>
          <p><b>Precio Gasoleo A: </b>{{ this.gas["Precio Gasoleo A"]}}</p>
          <p><b>Precio Gasoleo B: </b>{{ this.gas["Precio Gasoleo B"]}}</p>
          <p><b>Precio Gasolina 95 E5: </b>{{ this.gas["Precio Gasolina 95 E5"]}}</p>
        </div>
      </div>
</div>
